@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');

// Colors
$myBlack : #232020;
$myOrange : #ED6A5A;
$myWhite : #F4FFF8;
$myPurple : #531253;


*{
    margin:0; padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Montserrat', sans-serif;
    width: 100%; height: 100%;
}

header{
    position: fixed;
    width: 100vw;
    padding: 2em;
    z-index: 2;

    div.menu{
        position: relative;
        left: 100%;
        width: fit-content;
        transform: translateX(-100%);

        div.bars{
            div{
                transition: 1s;
                height: 0.9em;
                width: 4.2em;
                border-radius: 0.5em;
                background-color:$myWhite;
            }
            
            div:nth-child(2){
                margin: 0.4em 0px;
            }
        }

        div.close{
            div{
                transition: 1s;
            }

            div:nth-child(1){
                transform: translateY(140%);
                opacity: 0;
            }

            div:nth-child(2){
                transform: rotate(225deg);
            }

            div:nth-child(3){
                transform: translateY(-140%) rotate(-225deg);
            }
        }

        div.overlay{
            position: absolute;
            z-index: 3;
            top: 0;
            opacity: 0.5;

            height: 100%;
            width: 100%;
        }
    }

    nav{
        position: absolute;
        transition: 1s;
        z-index: -1;
        width: 90%;
        height: 140vh;
        top: 0;
        right: 0;
        background-color: $myOrange;
        transform: rotate(-10deg) translateX(30%) translateY(-10%);

        div{
            transition: 1s;
            height: 0%;
            width: 0%;
        }

        ul{
            
            width: fit-content;
            margin: 0 auto;
            position: relative;
            top: 50%;
            transform: translate(-50%, -90%) rotate(10deg);

            li{
                list-style-type: none;
                margin: 2em 0;

                a{
                    color: white;
                    font-size: 1.6em;
                    text-decoration: none;
                    border: 2px solid white;
                    padding: 0.2em;
                }
            }
        }
    }

    nav.hide{
        transition: 1s;
        transform: rotate(45deg) translateX(80%) translateY(0%);

        div{
            height: 100%;
            width: 100%
        }
    }
}

main{
    width: 100%; height: 100vh;
    text-align: center;

    div{
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }

    h1{

        font-size: 3em;
        color: $myOrange;
    }

    span.title{

        span{
            animation: test 2s infinite;
        }
    }

    p{
        color: white;
        margin-top: 1.5em;
        font-size: 1.5em;
    }
}

section.decor-container{
    position: fixed;
    z-index: -1;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100%;
    background-color: $myBlack;

    div{
        position: absolute;
        width: 40px;
        height: 40px;
        transform: rotate(45deg);
    }

    div:nth-child(1){
        background-color: lime;
        top: 10%;
        left: 10%;
        box-shadow: 0px 0px 40px 0px lime;
    }

    div:nth-child(2){
        background-color: lightcoral;
        top: 70%;
        left: 40%;
        box-shadow: 0px 0px 40px 0px lightcoral;
    }

    div:nth-child(3){
        background-color: lightskyblue;
        top: 35%;
        left: 87%;
        box-shadow: 0px 0px 40px 0px lightskyblue;
    }

    // Circles

    div:nth-child(4){
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 20%;
        left: 90%;
        background-color: yellow;
        box-shadow: 0px 0px 40px 0px yellow;
    }
    
    div:nth-child(5){
        width: 20px;
        height: 20px;
        border-radius: 50%;
        top: 40%;
        left: 20%;
        background-color: turquoise;
        box-shadow: 0px 0px 40px 0px turquoise;
    }
}

footer{
    background-color: $myBlack;
    position: absolute;
    top: 100%;
    z-index: 2;

    height: 10vh;
    width: 100%;
    padding: 0 1em;
    border-top: 0.1em solid white;

    p{
        font-size: 1.5em;
        color: white;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
    }
}

@keyframes test{
    0%{
      color: $myOrange;
      opacity: 0.4;
    }
    
    50%{
        color: $myOrange;
        opacity: 1;
    }
    
    100%{
        color: $myOrange;
        opacity: 0.4;
    }
  }